* {
    margin: 0px;
    padding: 0px;
    background-color: #EDEAE5;
}

@font-face{
    font-family:"Secretary Typewriter W05 Rg";
    src:url("fonts/6333391/0569cc9c-2a56-4404-b08a-21676bbd67ac.woff2") format("woff2"),url("fonts/6333391/9cc23fee-a8e9-4b4b-b163-58a7358b892d.woff") format("woff");
}

.principal{
    text-align: center;
    font-family: "Secretary Typewriter W05 Rg";
    color: black;

}