* {
    margin: 0px;
    padding: 0px;
}
.menu{
    padding: 5% 0px; 
    background-color: black !important;
}

.a-hijo {
    padding-left: 5% !important;
}

.nav-hijo {
    padding-left: 45% !important;
}

.img-bg {
    padding: 0;
    margin: 0%;
}

.card {
    border: none !important;
}

.btn-bootstrap {
    background-color: #000 !important;
    border: black !important;
}